*{
	box-sizing: border-box;
}

body{
	vertical-align:center;
	text-align:center;
	background-color:black;
}

header{
	padding-top:3.5%;
	padding-bottom: 3.5%;
	background-color:#4d94ff;
	text-align: center;
	vertical-align:middle;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-right-style: solid;
	border-right-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
}



#sI{
	border-right-style: solid;
	border-right-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	height:88%;
	padding-top:14%;
	text-align: center;
	vertical-align:middle;
	background-color:#f0f5f5;
}

#index{
	border-right-style: solid;
	border-right-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	height:88%;
	padding-top:14%;
	text-align: center;
	vertical-align:middle;
	background-color:#f0f5f5;
}


#creAcc{
	border-right-style: solid;
	border-right-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	height:88%;
	padding-top:5%;
	text-align: center;
	vertical-align:middle;
	background-color:#f0f5f5;
}

footer{
	color: white;
	background:gray;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5%;
}



#createAccount{
	
	margin-left:19%;
	margin-right:20%;
	
	
}

#createAccount{
	text-align:left;
	float:inline-block;
}

#createAccount label{
	width:30%;
}

#createAccount input{
	width:69%;
}

.btn{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    
    color: initial;
	width: 30%;
	background-color: #d966ff;
	border: none;
	
}

a{
	text-decoration:none;
	color: white;
}
