<div style="text-align: center">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <h4>Core Area</h4>
    </div>
    <div *ngIf="workouts" class="card-body">
      <span class="float-left" *ngFor="let i of workouts">
          <div *ngFor="let x of i.exercises">
              {{x}}
          </div>
          <div *ngFor="let x of i.reps">
              {{x}}
          </div>
          <button (click)="selectWorkout(i)">
              Pick Workout
            </button>
      </span>

    </div>
    <div class="card-body">
        <label *ngFor="let i of pickedWorkout.exercises"> {{i}}</label>
        <input class="col-md-3">
    </div>
  </div>
</div>
