<div>
    <table class="table ">
      <thead class="col-md-12" style="display:table-header-group">
        <tr class="col-md-12">
          <th id="date" align="left">
            <h5>Date</h5>
          </th>
          <th id="breakfast" align="left">
            <h5>Breakfast</h5>
          </th>
          <th id="lunch" align="left">
            <h5>Lunch</h5>
          </th>
          <th id="dinner" align="left">
              <h5>Dinner</h5>
            </th>
          <th id="snack" align="left">
            <h5>Snack</h5>
          </th>
        </tr>
      </thead>
      <tfoot>

      </tfoot>
      <tbody>
        <tr *ngFor="let meal of meals">
            <td >
              {{ meal.date | date:'LLL dd, yyyy' }}
            </td>
            <td >
              {{ meal.breakfast }}
            </td>
            <td >
              {{ meal.lunch }}
            </td>
            <td >
                {{ meal.dinner }}
              </td>
            <td >
              {{ meal.snack }}
            </td>
        </tr>
      </tbody>
    </table>
  </div>
