<html>

<body class="container">
  <header class="container">
    <h1>"Fitness App"</h1>
  </header>
  <main class="container" id="index" *ngIf="frontPage">
    <br>
    <a routerLink="sign-in" class="btn" (click)="changeToSignIn()">
      Sign In
    </a>
    <br>
    <br>
    <br>
    <br>
    <a routerLink="create-account" class="btn" (click)="changeToCreateAccount()">
      Create Account
    </a>
  </main>
  <app-sign-in [track]="track" *ngIf="signIn" ></app-sign-in>
  <app-create-account [track]="track" *ngIf="createAccount"  ></app-create-account>
</body>

</html>
