
html{
  min-height: 100vh;
  min-width: 100vw;
  background-color: #99D3DF;

}

body{
  background-color: white;
  margin-left: 5%;
  min-height: 100vh;
  width: 90%;
  border-left-style: solid;
  border-right-style: solid;

}


main{
  background-color: white;
  width: 90%;
  min-height: 100vh;
}

input{
  height: 1%;
}
aside{

  right: 0;
  position: absolute;
}

#height{
  height: 1%;
}


.btn{
  border-width: 2px;
  border-color: rgb(0, 0, 139);
}

#pp{
  height: 1%;
}

.single{
  height: 1%;
}

hr{
  color: black;
  width: 90%;
  height: 15px;
}

.alert{
  height: 1%;
}

.ng-touched.ng-invalid[required] {
  border: 1px solid red;
  background-color: rgb(252, 117, 117);
}
#password {
  -webkit-text-security: disc;
}

.ng-matched[required]{
  border: 1px solid red;
  background-color: rgb(252, 117, 117);
}
