<html>

<body>
  <aside class="float-right">
    <img src="assets/blueberry.jpg">
  </aside>
  <main id="creAcc">
    <div id="text">
    <br />
      <h3 class="ml-2">Create Account</h3>
      <br />
    <div class="container">
      <form class="form">
        <div id="login">
          <div class="row">
            <label for="user" class="col-md-2">Username: </label>
            <input id="username" name="username" class="col-md-3" type="text" [(ngModel)]="acc.username" required #myUsernameControl="ngModel">
            <label for="email" class="col-md-2">Email: </label>
            <input id="email" name="email" class="col-md-3" type="text"  required >
          </div>
          <div *ngIf="myUsernameControl.invalid && (myUsernameControl.dirty || myUsernameControl.touched)">
              <div class="alert alert-danger col-md-5" *ngIf="!myUsernameControl.valid" user>Username is required</div>
          </div>
          <br />
          <br />
          <div class="row">
            <label for="password" class="col-md-2">Password: </label>
            <input name="password" class="text col-md-3" type="text" [(ngModel)]="acc.password" required #myPasswordControl="ngModel">
            <label for="password" class="col-md-2">Verify Password: </label>
            <input type="text" class="col-md-3">
          </div>

              <div *ngIf="myPasswordControl.invalid && (myPasswordControl.dirty || myPasswordControl.touched)">
                  <div class="alert alert-danger col-md-5" *ngIf="!myPasswordControl.valid" user>Password is required</div>
              </div>

        </div>
        <hr>
        <div id="info">
          <div class="row">
            <label class="text col-md-2" for="Name">First Name: </label>
            <input class="text col-md-3" name="fname" type="text" [(ngModel)]="acc.fName" required #myFNameControl="ngModel">
            <div *ngIf="myFNameControl.invalid && (myFNameControl.dirty || myFNameControl.touched)">
              <div class="alert alert-danger col-md-6" *ngIf="!myFNameControl.valid" user>First Name is required</div>
            </div>
          <label class="text col-md-2" for="Name"> Last Name: </label>
          <input class="text col-md-3" name="lname" type="text" [(ngModel)]="acc.lName" required #myLNameControl="ngModel">
          <div *ngIf="myLNameControl.invalid && (myLNameControl.dirty || myLNameControl.touched)">
            <div class="alert alert-danger col-md-6" *ngIf="!myLNameControl.valid" user>Last Name is required</div>
          </div>
        </div>
          <br>
          <br>
        <div class="row">
          <label class="text col-md-2" for="height">Height: </label>
          <input class="text col-md-3" name="height" type="text" [(ngModel)]="acc.height" required #myHeightControl="ngModel">
          <div *ngIf="myHeightControl.invalid && (myHeightControl.dirty || myHeightControl.touched)">
            <div class="alert alert-danger col-md-6" *ngIf="!myHeightControl.valid" user>Height is required</div>
          </div>
          <label class="text col-md-2" for="weight">Weight: </label>
          <input class="text col-md-3" name="weight" type="text" [(ngModel)]="acc.weight" required #myWeightControl="ngModel">
          <div *ngIf="myWeightControl.invalid && (myWeightControl.dirty || myWeightControl.touched)">
            <div class="alert alert-danger col-md-6" *ngIf="!myWeightControl.valid" user>Weight is required</div>
          </div>
        </div>
          <br>
          <br>
        <div class="row">
          <label class="text col-md-2" for="age">Age: </label>
          <input class="text col-md-3" name="age" type="text" [(ngModel)]="acc.age" required #myAgeControl="ngModel">
          <div *ngIf="myAgeControl.invalid && (myAgeControl.dirty || myAgeControl.touched)">
            <div class="alert alert-danger col-md-6" *ngIf="!myAgeControl.valid" user>Age is required</div>
          </div>
          <label class="text col-md-2" for="public">Public Profile:  </label>
          <select id="pp" name="public" class="col-md-3" [(ngModel)]="acc.public" required #myPublicControl="ngModel">
            <option>True</option>
            <option>False</option>
            </select>
          <div *ngIf="myPublicControl.invalid && (myPublicControl.dirty || myPublicControl.touched)">
            <div class="alert alert-danger col-md-6" *ngIf="!myPublicControl.valid" user>Public Profile field is required</div>
          </div>
        </div>
          <br>
          <br>
        <div class="row">
          <label class="text col-md-2" for="disabilities">Disabilites: </label>
          <select size="2" class="col-md-3" multiple>
            <option>peanutz</option>
            <option>sleep apnia</option>
            <option>lactose intolerant</option>
            <option>celiac</option>
            <option>blindness</option>
            <option>bolimia</option>
            <option>anorexia</option>
            <option>kosher</option>
            <option>halal</option>
            <option>vegetarian</option>
          </select>

          <label class="col-md-2" for="goal">Goal: </label>
          <select class="col-md-3" name="goal" [(ngModel)]="acc.goal">
            <option></option>
            <option>Lose Weight</option>
            <option>Gain Weight</option>
            <option>Gain Muscle</option>
          </select>
        </div>
      </div>
        <br />
        <div id="button1" style="text-align:center">
          <button class="btn" [disabled]="submitCheck()" (click)="addAcc()">
              Create Account
          </button>
          <br />
          <br />
        </div>
      </form>
    </div>
  </div>
  </main>
</body>

</html>
