<html>

<body>
  <aside class="float-right">
    <img src="assets/blueberry.jpg">
  </aside>
  <main id="creAcc">
    <div id="text">
    <br />
      <h3 class="ml-2">Create Account</h3>
      <br />
    <div class="container">
      <form class="form">
        <div id="login">
          <div class="row">
            <label for="user" class="col-md-2">Username: </label>
            <input class="form-group"
              id="username" name="username" class="text col-md-3 form-control" type="text"
              [(ngModel)]="acc.username" required #myUsernameControl="ngModel">
            <label for="email" class="col-md-2">Email: </label>
            <input id="email" name="email" class="text col-md-3 form-control"type="text"  required
            [(ngModel)]="email" required #myEmailControl="ngModel">
          </div>
          <br />

          <div class="row">
            <label for="password" class="col-md-2">Password: </label>
            <input name="password" class="text col-md-3 form-control" type="text" [(ngModel)]="acc.password" required #myPasswordControl="ngModel">
            <label for="password" class="col-md-2">Verify Password: </label>
            <input type="text" class="text col-md-3 form-control">
          </div>
        </div>
        <hr>
        <div id="info">
          <div class="row">
            <label class="text col-md-2" for="Name">First Name: </label>
            <input class="text col-md-3 form-control" name="fname" type="text" [(ngModel)]="acc.fName" required #myFNameControl="ngModel">
          <label class="text col-md-2" for="Name"> Last Name: </label>
          <input class="text col-md-3 form-control" name="lname" type="text" [(ngModel)]="acc.lName" required #myLNameControl="ngModel">
        </div>
          <br>

        <div class="row">
          <label class="text col-md-2" for="height">Height: </label>
          <input class="text col-md-3 form-control" name="height" type="text" [(ngModel)]="acc.height" required #myHeightControl="ngModel">
          <label class="text col-md-2" for="weight">Weight: </label>
          <input class="text col-md-3 form-control" name="weight" type="text" [(ngModel)]="acc.weight" required #myWeightControl="ngModel">
        </div>
          <br>

        <div class="row">
          <label class="text col-md-2" for="age">Age: </label>
          <input class="text col-md-3 form-control" name="age" type="text" [(ngModel)]="acc.age" required #myAgeControl="ngModel">
          <label class="text col-md-2" for="gender">Gender: </label>
          <input class="text col-md-3 form-control" name="gender" type="text">
        </div>
        <br>
        <div class="row">
          <label class="text col-md-2" for="public">Public Profile:  </label>
          <select id="pp" name="public" class="col-md-3 form-control" [(ngModel)]="acc.public" required #myPublicControl="ngModel">
            <option>True</option>
            <option>False</option>
            </select>
          <label class="text col-md-2" for="disabilities">Allergies: </label>
          <select size="2" class="col-md-3 form-control" multiple [(ngModel)]="acc.allergies">

              <option>Nut Free</option>
              <option>Low Fat</option>
              <option>Gluten Free</option>
              <option>No Carbs/Keto</option>
              <option>High Protein</option>
              <option>Citrus Free</option>
              <option>Egg Free</option>
              <option>Fish Free</option>
              <option>Lactose Intolerant</option>
              <option>Vegan</option>
          </select>
        </div>
          <br />
          <hr>
          <div class="row">

          <label class="col-md-2" for="goal">Goal: </label>
          <select class="col-md-3 single form-control" name="goal" [(ngModel)]="acc.goal">
            <option></option>
            <option>Lose Weight</option>
            <option>Gain Weight</option>
            <option>Gain Muscle</option>
          </select>
        </div>
        </div>
        <br />
        <div id="button1" style="text-align:center">
          <button class="btn btn-info" [disabled]="submitCheck()" (click)="addAcc()">
              Create Account
          </button>
          <br />
          <br />
        </div>
      </form>
    </div>
  </div>
  </main>
</body>

</html>
