
body{
  background-color: #99D3DF;
  min-height: 100vh;
}

main{
  width: 45%;
  background-color: #99D3DF;

}

input{
  height: 1%;
}
aside{

  right: 0;
  position: absolute;
}

img{
  float: right;
  width: 55vw;
  height: 100vh;
}

.btn{
  border-width: 2px;
  border-color: rgb(0, 0, 139);
}

#pp{
  height: 1%;
}

.single{
  height: 1%;
}

hr{
  color: black;
  width: 90%;
  height: 15px;
}

.alert{
  height: 1%;
}

.ng-touched.ng-invalid[required] {
  border: 1px solid red;
  background-color: rgb(252, 117, 117);
}
