<div *ngIf="meal" style="text-align: center" id="body">
  <div id="breakfast" background="assets/breakfast.jpg">
    <img src="assets/pancake.jpg" class="float-left">
    <div id="text" >
      <h3> Breakfast </h3>
      <h1> {{meal.breakfast}}</h1>
    </div>
  </div>
  <br />
  <div id="lunch">
    <div id="text">
      <h3> Lunch </h3>
      <h1> {{meal.lunch}}</h1>
    </div>
      <img src ="assets/burrito.jpg" class="float-right">
  </div>
  <br />
  <div id="snack">
    <img src="assets/raspberry.jpg" class="float-left">
    <div id="text">
      <h3> Snack </h3>
      <h1> {{meal.snack}}</h1>
    </div>
  </div>
  <br />
  <div id="dinner">
    <div id="text">
      <h3> Dinner</h3>
      <h1> {{meal.dinner}}</h1>
    </div>
      <img src="assets/chicken.jpg" class="float-right">
  </div>
</div>

