img{
  width: 30%;
  opacity: .7;
  height: 100%;
}

#meal{
  z-index: 0;
  display: inline;
}

#text{
  font-weight: bold;
  width: 15%;
  height: 20%;
  margin-left: 41%;
  padding-top: 5%;
  z-index: 1;
}

#body{
  height: 80vh;
}

#breakfast{
  height: 15vh;
}

#lunch{
  height: 15vh;
}

#snack{
  height: 15vh;
}

#dinner{
  height: 15vh;
}
