<span id="breakfast" class="card">
  <span class="card-header">
    {{meal.id}}
  </span>
  <span class="card-body">
    {{meal.breakfast}}
  </span>
</span>
<br />
<span id="lunch" class="card">
  <span class="card-header">
    {{meal.lunch}}
  </span>
  <span class="card-body">
    {{meal.dinner}}
  </span>
</span>
<br />
<span id="snack" class="card">
  <span class="card-header">
    {{meal.snack}}
  </span>
  <span class="card-body">
    {{meal.date}}
  </span>
</span>
<br />
<span id="dinner" class="card">
  <span class="card-header">
    Name
  </span>
  <span class="card-body">
    calories
  </span>
</span>
<br />
<span id="dinner" class="card">
  <span class="card-body">
  Total Calories
</span>
</span>

