<html>
	<body class="container">
		<header class="container">
			<h1>Profile</h1>
		</header>
		<main class="container" id="profile">
			<br>
			<span class="row">
			<h2 class="col-md-12 float-center">
			{{ acc.username}}
			</h2>
			</span>
			<br>
			<br>
			<span class="row">
				<span id="netCal" class="col-md-5 text-align-left float-left">
					<h3 class="text-align-vertical">Today's Calories</h3>

					<h6 class="float-left">Calories Consumed: {{acc.calsEaten[0]}} </h6>
					<br>
					<h6 class="float-left">Calories Burnt:  {{acc.calsBurned[0]}} </h6>
					<br>
					<hr>
					<h5 class="float-left">Net Calories: {{netCals()}} </h5>
				</span>
				<span class="col-md-1"></span>
				<span id="calBurnt" class="col-md-5 text-align-left float-right">
					<h3 class="text-align-vertical">Today's Workouts</h3>
					<ul>
						<li class="float-left">Workout 1: 500 cal</li>
						<br>
						<li class="float-left">Workout 2: 850 cal</li>
						<br>
						<hr>
						<h5 class="float-left">Calories Burnt: 1350 cal</h5>
					</ul>
				</span>
			</span>

			<br>
			<br>
			<a href="workouts.html" class="btn">
				See Past Workouts
			</a>
			<br>
			<br>
			<a href="input.html" class="btn">
				Input
			</a>

		</main>
	</body>
</html>
