<html>

<head>
  <title>Profile</title>
</head>

<body>
  <br />

    <aside class="float-right" id="buttons">
      <button (click)="changeToSearch()">Search</button>
      <button (click)="changeToSignIn()">Log Out</button>
    </aside>
    <div *ngIf="acc" id="header" style="text-align: left">
      <h1>{{acc.fName}} {{acc.lName}}</h1>

      <div>
          <h5>Age: {{acc.age}} · Height: {{acc.height}} inches · Weight: {{acc.weight}} lbs </h5>
      </div>
    </div>

    <main class="container" id="profile">
      <div id="tabs" class="container">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a href="#food" class="nav-link" data-toggle="tab" role="tab" aria-controls="food" id="foodTab">Today's Food</a>
          </li>
          <li class="nav-item">
            <a href="#workout" class="nav-link" data-toggle="tab" role="tab" aria-controls="workout" id="workoutTab">Today's Workout</a>
          </li>
          <li class="nav-item">
            <a href="#pastFood" class="nav-link" data-toggle="tab" role="tab" aria-controls="pastFood" id="pastFoodTab">Past Food</a>
          </li>
          <li class="nav-item">
            <a href="#pastWorkout" class="nav-link" data-toggle="tab" role="tab" aria-controls="pastWokrout" id="pastWorkoutTab">Past Workout</a>
          </li>
          <li class="nav-item">
              <a href="#workoutStats" class="nav-link" data-toggle="tab" role="tab" aria-controls="workoutStats" id="workoutStatsTab">Workout Stats</a>
            </li>
        </ul>

        <div class="tab-content" id="tabCont">
          <br>
          <div class="tab-pane active container" role="tabpanel" id="food">
            <app-food-today></app-food-today>
          </div>
          <div class="tab-pane" role="tabpanel" id="workout">
            <app-workout-today></app-workout-today>
          </div>
          <div class="tab-pane" role="tabpanel" id="pastFood">
            <app-food-past></app-food-past>
          </div>
          <div class="tab-pane" role="tabpanel" id="pastWorkout">
            <app-workout-past></app-workout-past>
          </div>
          <div class="tab-pane" role="tabpanel" id="workoutStats">
              <app-pie></app-pie>
            </div>
        </div>
      </div>
      <br />
    </main>

</body>

</html>
