html{
  height: 100vh;
  background: linear-gradient(rgb(192,219,186), white, rgb(192,219,186));
}
body{
  background: linear-gradient(to right, rgb(192,219,186),white, white, white, white white, rgb(192,219,186));
}


#header{
  width: 30%;
  margin-left: 5%;
  margin-right: 0%;
}
aside{
  width:30%;
  margin-top: 2%;
}

#border{
  margin-left: 12.5%;
  border-style: solid;
  background-color: white;
  width: 75%;
}

#tabCont{
	border-top: none;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
    padding: 10px;
}
