#mass{
  background-color: #88BBD6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  max-width: 25%;

}

span{
    display: flex;
    align-items: left;
    justify-content: left;
}

.btn{
  background-color: black;
  color: white;
}

aside{
  float: left;
  width: 75%;
  height: 100vh;
  left: 0;
}

img{
  float: left;
  max-height: 100%;
  min-height: 95%;
  left: 0;
}
