<body id="mass" class="Aligner col-md-12" *ngIf="goodLog == 0 || goodLog == 1">
  <main class="Aligner-item container col-md-6 float-left" id="sI">
    <form name="login">
      <div class="alert alert-danger" *ngIf="goodLog == 1"> bad username/password </div>
      <span id="head">
        <h2>Sign In</h2>
      </span>
      <br />
      <span id="user">
        <label class="col-md-1" for="username">Username: </label>
        <input class="col-md-3" type="text" name="user" id="user" [(ngModel)]="username" />
      </span>
      <br>

      <span id="pass">
        <label class="col-md-1" for="password">Password: </label>
        <input class="col-md-3" type="text" name="pass" id="pass" [(ngModel)]="pass" />
      </span>

      <br>
      <span id="enter">
        <button class="btn btn-primary" (click)="goodLogin()">
          Sign In
        </button>
      </span>
    </form>
  </main>
</body>
