<html>
	<body class="container">
	<header class="container">
			<h1>Input Info</h1>
	</header>
	<main class="container" id="profile">
		<br>
			<form name="input">
				<label for="type">Type of Input</label>
				<select>
					<option>Ate</option>
					<option>Workout</option>
				</select>
				<br>
				<label for="eat">Calories Eaten</label>
				<input type="text">
				<br>
				<label for="work">Calories Burned</label>
				<input type="text">
				<br>
				<button (click)="updateCals()" class="btn">
					Submit
				</button>
			</form>
	</main>
	</body>
</html>
