<div class="container">
  <h3>Search For Similar Users!</h3>
  <div class="row">
    <div class="col">
      <label for="drop">Gender</label>
      <select id="drop" class="custom select" data toggle="dropdown">
        <option selected></option>
        <option value="male"> male </option>
        <option value="female"> female </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="drop" class="mt-3">Age</label>
      <input type="text">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="drop" class="mt-3">Weight</label>
      <input type="text">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="disabilities">Disabilites: </label>
      <select multiple name="disabilities">
        <option>peanutz</option>
        <option>sleep apnia</option>
        <option>lactose intolerant</option>
        <option>celiac</option>
        <option>blindness</option>
        <option>bolimia</option>
        <option>anorexia</option>
        <option>kosher</option>
        '
        <option>halal</option>
        '
        <option>vegetarian</option>
        ' </select>
      ' </div>
    ' </div>
  '
  <div class="row">
    <div class="col">
      <label for="goal">Goal: </label>
      <select name="goal">
        <option>Lose Weight</option>
        <option>Gain Weight</option>
        <option>Gain Muscle</option>
      </select>
    </div>
  </div>
  <button class="btn primary">
    Search
  </button>
  <div class="row">
    <div class="col">
      <div *ngFor="let i of resultList">
        <div class="card mb 3 mt 3 bg-light">
          <div class="card-header">
            {{i.name}}
          </div>
          <div class="card-body bg-light clearfix">
            <div class="row">
              <span class="text-muted m-2">
                Age: {{ i.age }}
              </span>
            </div>
            <div class="row">
              <span class="text-muted m-2">
                Height: {{ i.height }}
              </span>
            </div>
            <div class="row">
              <span class="text-muted m-2">
                Weight: {{ i.weight }}
              </span>
              <div class="col">
                <button class="btn-primary mt-2 float-right">
                  Workout/Diet
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
