<html>
<body *ngIf="!resultPicked">
  <div class="container">
    <br />
    <div id="search" class="container">
      <div class="row">
        <h3 class="mt-2 col-md-7 float-left">Search For Similar Users!</h3>
        <button id="bTP" (click)="backToProfile()">Back To Profile</button>
      </div>
    <br />
    <div class="row">
      <label for="drop" class="col-md-2 mb-3">Gender:</label>
      <select id="drop" class="custom select col-md-3 mb-3" [(ngModel)]="searchAcc.gender" data toggle="dropdown">
        <option selected></option>
        <option value="Male"> Male </option>
        <option value="Female"> Female </option>
      </select>
      <label for="drop" class="col-sm-2 mb-3">Age:</label>
      <input type="text" value="userAcc.age" class="col-md-3 mb-3" [(ngModel)]="searchAcc.age">
    </div>
    <div class="row" id="thickRow">
      <label for="drop" class="col-sm-2 mb-3">Weight:</label>
      <input type="text" class="col-md-3 mb-3" value="userAcc.weight" [(ngModel)]="searchAcc.weight">
      <label for="disabilities" class="col-sm-2">Allergies: </label>
      <select multiple name="disabilities" class="col-md-3 mb-3" [(ngModel)]="searchAcc.allergies" size="3">
        <option>Nut Free</option>
        <option>Low Fat</option>
        <option>Gluten Free</option>
        <option>No Carbs/Keto</option>
        <option>High Protein</option>
        <option>Citrus Free</option>
        <option>Egg Free</option>
        <option>Fish Free</option>
        <option>Lactose Intolerant</option>
        <option>Vegan</option>
      </select>
    </div>

    <div class="row">
      <label for="goal" class="col-sm-2">Goal: </label>
      <select name="goal" class="col-md-3 mb-3" [(ngModel)]="searchAcc.goal">
        <option>Lose Weight</option>
        <option>Gain Weight</option>
        <option>Gain Muscle</option>
      </select>
    </div>
    <br />
    <div class="row">
      <div class="col-md-2"></div>
      <button class="btn primary" (click)="search()" class="col-md-1 mb-3 mr-3">
        Search
      </button>

      <button class="btn primary" (click)="reset()" class="col-md-1 mb-3">
          Reset
      </button>
    </div>
  </div>
  <br />
  <div id="results">
    <h3>Results</h3>
    <div class="row">
      <div class="col">
        <div *ngFor="let i of resultList">
          <div class="card mb-3 mt-3 bg-light">
            <div class="card-header">
              {{i.fName}} {{i.lName}}
            </div>
            <div class="card-body bg-light clearfix">
              <div class="row mb-2">
                <span class="text-muted m-2">
                  Age: {{ i.age }}
                </span>
              </div>
              <div class="row mb-2">
                <span class="text-muted m-2">
                  Height: {{ i.height }}
                </span>
              </div>
              <div class="row mb-2">
                <span class="text-muted m-2">
                  Weight: {{ i.weight }}
                </span>
                <div class="col">
                  <button class="btn-primary mt-2 float-right" (click)="goToSearchProfile(i)">
                    Workout/Diet
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
<app-search-profile [acc]="resultAcc" [searcher]="userAcc" *ngIf="resultPicked"></app-search-profile>
</html>
