<div class="row" id="top">
  <span class="float-left col-md-6">
    <h1>PonyFit</h1>
  </span>
  <br />
  <span class="float-right col-md-6 align-bottom">
    <ul class="nav justify-content-end align-bottom">
      <li class="nav-item col-md-3 align-bottom" (click)="changeToSignIn()">
        <h5>Sign In</h5>
      </li>
      <li class="nav-item col-md-4 align-bottom" (click)="changeToCreateAccount()">
        <h5>Create Account</h5>
      </li>
    </ul>
  </span>
</div>
<div id="bBar">
  <br />
</div>

<div id="image" class="Aligner">
  <img class="Aligner-item" src="assets/fitness.jpg">
</div>



