<div class="row">
  <span class="float-left col-md-6">
    <h2>Fitness App</h2>
  </span>
  <br />
  <span class="float-right col-md-6 align-bottom">
    <ul class="nav justify-content-end align-bottom">
      <li class="nav-item col-md-3 align-bottom" (click)="changeToSignIn()">
        Sign In
      </li>
      <li class="nav-item col-md-4 align-bottom" (click)="changeToCreateAccount()">
        Create Account
      </li>
    </ul>
  </span>
</div>

<div id="image" class="Aligner">
  <img class="Aligner-item" src="assets/fitness.jpg">
</div>



