html{
  background-color: #88BBD6;
  min-height: 100vh;
}

body{
  margin-left: 5%;
  border-left-style: solid;
  border-right-style: solid;
  background-color: white;
  width: 90%;
  min-height: 100vh;
}

#search{
  text-align: center;
}

#thickRow{
  margin-bottom: -4%;
}

input{
  height: 2%;
}

#bTP{
  height: 2%;
  margin-top: 1%;
}
