<div *ngIf="meal" style="text-align: center" id="body">
  <img src="assets/agriculture.jpg" class="float-left"id="agri">
  <img src="assets/buffet.jpg"  class="float-right" id="buffet">
  <div id="breakfast" class="d-inline">
    <div id="text">
      <h3> Breakfast </h3>
      <h6> {{meal.breakfast}}</h6>
    </div>
  </div>
  <br />
  <div id="lunch" class="d-inline">
    <div id="text">
      <h3> Lunch </h3>
      <h6> {{meal.lunch}}</h6>
    </div>
  </div>
    <br />
  <div id="snack" class="d-inline">
    <div id="text">
      <h3> Snack </h3>
      <h6> {{meal.snack}}</h6>
    </div>
  </div>
  <br />
  <div id="dinner" class="d-inline">
    <div id="text">
      <h3> Dinner</h3>
      <h6> {{meal.dinner}}</h6>
    </div>
  </div>
</div>

