<div>
    <canvas
        baseChart
        [chartType]="'pie'"
        [datasets]="pieChartData"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [legend]="true"
        [colors]="pieChartColor">
    </canvas>
  </div>
<div>
  <table class="table ">
    <thead class="col-md-12" style="display:table-header-group">
      <tr class="col-md-12">
        <th id="date" align="left">
          <h5>Date</h5>
        </th>
        <th id="core" align="left">
          <h5>Core Area</h5>
        </th>
        <th id="excer" align="left">
          <h5>Exercises</h5>
        </th>
      </tr>
    </thead>
    <tfoot>

    </tfoot>
    <tbody>
      <tr *ngFor="let workout of workouts">
          <td id= "date">
            {{ workout.date | date:'LLL dd, yyyy' }}
          </td>
          <td id="area">
            {{ workout.type }}
          </td>
          <td id="exercises">
            {{ workout.exercises[0] }}  -- {{ workout.exercises[1] }} -- {{ workout.exercises[2] }} -- {{ workout.exercises[3] }}
          </td>
      </tr>
    </tbody>
  </table>
</div>
