<div>
  <table class="table ">
    <thead class="col-md-12" style="display:table-header-group">
      <tr class="col-md-12">
        <th class="col-md-2 float-left" id="date" align="left">
          <h5>Date</h5>
        </th>
        <th class="col-md-2 float-left" id="core" align="left">
          <h5>Core Area</h5>
        </th>
        <th class="col-md-8 float-left" id="excer" align="left">
          <h5>Exercises</h5>
        </th>
      </tr>
    </thead>
    <tfoot>

    </tfoot>
    <tbody>
      <tr>
        <td headers="date" >04/21/18</td>
        <td headers="core" >Legs</td>
        <td headers="excer" >squats -- leg press -- leg extensions -- leg pull</td>
      </tr>
      <tr>
        <td headers="date" >04/21/18</td>
        <td headers="core" >Legs</td>
        <td headers="excer" >squats -- leg press -- leg extensions -- leg pull</td>
      </tr>
    </tbody>
  </table>
  need to ask lawrimore about this
</div>
