<div>
  <table class="table ">
    <thead style="display:table-header-group">
      <tr>
        <th class="col-md-2 float-left" id="date">
          <h5>Date</h5>
        </th>
        <th class="col-md-2 float-left" id="core">
          <h5>Core Area</h5>
        </th>
        <th class="col-md-6 float-left" id="excer">
          <h5>Exercises</h5>
        </th>
        <th class="col-md-2 float-left" id="net">
          <h5>Net Calories</h5>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="date" class="col-md-1">04/21/18</td>
        <td headers="core">Legs</td>
        <td headers="excer">squats -- leg press -- leg extensions -- leg pull</td>
        <td headers="net">1956</td>
      </tr>
    </tbody>
  </table>
</div>
